
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  line-height: 1.6;
}


.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column wrap;
}
.not-found-img{
  max-height: 60vh;
}